.text-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vh;
}

.logo img {
  width: 100px;
}

.text-content h1 {
  margin-bottom: 10px;
}

.text-content h2 {
  margin-bottom: 20px;
}

.landing-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding: 0 20px;
}

.text-content h1,
.text-content h2 {
  color: white;
}

.text-content button {
  background-color: #f95924;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.illustration img {
  width: 100%;
}

.forms-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-input input[type="text"],
.form-input input[type="file"] {
  width: 60%;
  padding: 10px;
  background-color: white;
  color: #393434;
  border: none;
  outline: none;
  border-radius: 10px;
}
.illustration {
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.illustration::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}

.illustration img {
  width: 100%;
}
.subheading-orange {
  color: #f95924;
}

.text-content h2 {
  font-weight: lighter;
}

.team-section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.team-card {
  background-color: #3c2f27; 
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  margin: 10px;
}

.team-card:hover {
  transform: translateY(-5px);
}


.team-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-card h3 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.team-card p {
  font-size: 14px;
  color: white;
  opacity: 0.8;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .our-team {
    justify-content: flex-start;
  }
}
