<div class="forms-container">
  <nav class="navbar">
    <div class="logo">
      <img src="./assets/logo.jpeg" alt="Logo" />
    </div>
    <div class="navbar-icons">
      <a href="#" class="user-icon"></a>
    </div>
  </nav>

  <div class="form-content">
    <div class="instruction">
      <p>Fill in the following inputs to generate a conversational AI model:</p>
      <p>
        The model will be trained based on the provided inputs and the photo
        given by the user.
      </p>
      <p>
        The more specific and detailed your inputs, the more personalized the
        generated model will be.
      </p>
    </div>

    <div class="form-input">
      <label for="imageInput">Choose Image:</label>
      <input type="file" id="imageInput" accept="image/*" />
    </div>

    <div class="form-input">
      <label for="audioInput">Choose Audio:</label>
      <input type="file" id="audioInput" accept="audio/*" />
    </div>

    <div class="form-input">
      <label for="chatInput">Upload Chats:</label>
      <input type="file" id="chatInput" accept=".txt" />
      <p class="input-instruction">Export the chat as a .txt file.</p>
    </div>

    <div class="form-input">
      <label for="personalityInput">Personality Traits:</label>
      <div class="personality-input">
        <input
          type="text"
          id="personalityInput"
          placeholder="Type a word and press enter"
          [(ngModel)]="newTrait"
          (keyup.enter)="addPersonalityTrait()"
        />
        <div class="personality-tags">
          <div
            class="tag"
            *ngFor="let trait of personalityTraits; let i = index"
          >
            {{ trait }}
            <span class="remove" (click)="removePersonalityTrait(i)"
              >&times;</span
            >
          </div>
        </div>
      </div>
      <p class="input-instruction">
        Any personality trait like old, sweet, etc. works.
      </p>

      <button class="generate-button">Generate</button>
    </div>
  </div>
</div>
